---
layout: default
---

<div class="centered">
  {% include_absolute '/assets/{{ page.svg }}.svg' %}
  <!-- <img src="{{ page.picture | prepend: '/assets/' | prepend: site.baseurl }}" /> -->
</div>
<article class="space" itemscope itemtype="http://schema.org/Blogspaceing">

  <header class="space-header">
    <h1 class="space-title" itemprop="name headline">{{ page.title }}</h1>
  </header>

  <div class="space-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
