---
layout: default
---
<div class="centered">
  {% include_absolute '/assets/{{ page.svg }}.svg' %}
  <!-- <img src="{{ page.picture | prepend: '/assets/' | prepend: site.baseurl }}" /> -->
</div>
<article class="stream" itemscope itemtype="http://schema.org/Blogstreaming">

  <header class="stream-header">
    <h1 class="stream-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="stream-meta">
      Live:
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.stream_date.begin | date: "%-d %B %Y, %H:%M" }}
        -
        {{ page.stream_date.end   | date: "%H:%M" }}
      </time>
      ECT
    </p>
  </header>

  <div class="stream-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>

<div class="stream-list">
  <a href="../livestreams">Livestreams >></a>
</div>
